<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href='/'> inicio</a>
    <form action="/agregar_producto/" enctype="multipart/form-data" method="post">
        {% csrf_token %}
<!--         <input type="text" name="id"          id="id"          placeholder="id" > -->
        <input type="text" name="nombre"      id="nombre"      placeholder="nombre" >
        <input type="text" name="precio"      id="precio"      placeholder="precio" >
        <input type="text" name="descripcion" id="descripcion" placeholder="decripcion" >
        <input type="file" name="imagen"      id="imagen"      placeholder="imagen" >
        
         <select name="idcategoria" id="idcategoria">
            <option value="">categoria</option>  
            <!-- ?  correccion, se cambia el id por pk (en mongo)  -->
            {% for c in categorias %}
                <option value="{{c.id }}">{{c.get_nombre}}</option>
            {% endfor %}
        </select>  
        <button type="submit"> agregar producto </button>
    </form>
</body>
</html>