<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/editar_producto/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="nombre_producto_editado" value="{{producto.nombre}}" >
        <input type="text" name="precio_producto_editado" value="{{producto.precio}}" >
        <input type="text" name="descripcion_producto_editado" value="{{producto.descripcion}}" >
        <input type="text" name="imagen_producto_editado" value="{{producto.imagen}}" >
        
        <select name="" id="">
            <option value="">categoria</option>
            {% for c in categorias  %} <!-- ! pk o id, si es mongo o mysql  --> 
            {% if c.pk ==  %}
            <option value="" selected>categoria</option>
            {%else%}
            <option value="">categoria</option>
            {% endif %}
            {% endfor %}
        </select>

        <button type="submit">editar</button>

    </form>
</body>
</html>