<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/eliminar_categoria/" method="post">
        {% csrf_token %}
<!--         <label for="">seleccione la categoria que quiere eliminar</label>
        
        <select name="categoria_eliminar" id="">
            {% for c in categorias %}
                <option value="{{c.id_categoria }}">{{c.get_nombre}}</option>
            {% endfor %}
        </select> -->
        <input type="text" name="categoria_eliminar">

        <button  type="submit"> eliminar </button>
    </form>
</body>
</html>