<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/inicio.css">
    <title>Document</title>
</head>
<body>
    <h1>hola mundo desde django</h1>

    <h1> un mini mapa de navegacion</h1>
    <div class="contenedor_direcciones"> 
        <a href="agregar_categoria"> ir a agregar categoria </a>
        <a href="eliminar_categoria"> ir a eliminar categoria </a>
<!--         <a href="agregar_producto">  ir a agregar productos </a> -->
        <a href="agregar_producto">  ir a agregar productos </a>  <!-- ? se usa esta ruta en lugar de la anterior  -->
        <a href="lista_productos">   ir a lista productos   </a>
        <a href="editar_producto">   ir a editar producto   </a>
<!--         <a href="eliminar_producto">   ir a eliminar producto   </a> -->
    </div>
</body>
</html>